.quotesContainer {
    width: 100%;
    display: flex;
    flex-direction: column;
    padding: 20px;
    justify-content: center;
    align-items: center;
    z-index: 0;
    background-color: lightgreen;
  }



.edith2 {
    display: flex;
    align-self: flex-start;
    color: black;
    text-shadow: none;
    pointer-events: none;
    padding-left: 20px;
    padding-top: 20px;
    z-index: 10;
}

form {
    display: flex;
    width: 55%;
    flex-direction: column
  }
  .title {
    height: 35px;
    width: 100%;
    margin: 20px;
    font-size: 1rem;
  
  }
  
  .img_url {
    height: 35px;
    width: 100%;
    margin: 20px;
    font-size: 1rem;
  
  }
  
  
  textarea {
    margin-left: 20px;
    font-size: 1rem;
    width: 100%;
  
  }

  button:disabled {
    opacity: 0.5;
    pointer-events: none;
  }
  
  .main-button button {
    display: flex;
    width: 250px;
    justify-content: center;
  }
  
  .main-button a {
    cursor: default;
    width: 250px;
    justify-content: center;
  }

@media only screen and (max-width: 680px) {

    .quotesContainer {
        width: 100%;
        display: flex;
        flex-direction: column;
        padding: 20px;
        justify-content: center;
        align-items: center;
        z-index: 0;
        background-color: lightgreen;
      }

      .edith2 {
        padding-left: 0px;
        align-self: center
    }
      
    form {
        display: flex;
        width: 100%;
        flex-direction: column
      }
    
      .main-button {
        display: flex;
        align-self: center;
        width: 100%;
      }
    
      .main-button button {
        text-align: center;
        width: 100%;
      }

      .main-button a {
        text-align: center;
        width: 100%;
      }
    
      textarea {
        margin: 10px 0px;
      }
    
      .title {
        margin: 0px;  
      }
      
      .img_url {
        margin: 0px;
        margin-bottom: 10px
      }
}